<div class="sm:p-20 h-screen w-full p-10">
	<header class="sticky top-0 z-10">
		<app-navbar></app-navbar>
	</header>
	<section id="home" class="mx-auto flex justify-center items-center relative mb-16 max-w-5xl scroll-m-40">
		<article class="flex items-center justify-center sm:p-10 sm:w-[700px] sm:h-[500px] w-[500px] h-[700px]">
			<h1 class="tw sm:text-4xl text-2xl uppercase"></h1>
		</article>
	</section>
	<section id="project" class="sm:p-20">
		<h1 class="text-center text-[#E7DDFA] text-2xl m-10">My Projects</h1>
		<article class="flex items-center justify-center">
			<app-projects></app-projects>
		</article>
	</section>

</div>