<div class="text-[#E7DDFA] sm:p-10">
	<div class="my-5">
		<p>
			~% Do you have and idea, solution, service you want to implement or you down for a collab, feel free to reach out 
			to me at any time by email or my other platforms found at the footer of this page and i will respond quickly.
		</p>
	</div>
	<div>
		<button class="border-2 border-purple-300 mr-5 p-2 hover:bg-purple-400"><a href="mailto:ademilua.oluseun@gmail.com">[ email me ]</a></button>
		<button class="border-2 border-purple-300 p-2 hover:bg-purple-400"><a href="https://drive.google.com/file/d/1BHqFaS-Unu-7hdXBJ33otBaXY3sVL_fG/view?usp=sharing">[ My CV ]</a></button>
	</div>
</div>
